{% extends 'gym/base.html' %}
{% block content %}
<h1>Hello World!</h1>
<li class="last"><a href="{% url 'lesson_list' %}">Список Занятий</a></li>
<li class="last"><a href="{% url 'master_list' %}">Список Тренеров</a></li>
<li class="last"><a href="{% url 'card_list' %}">Виды клубных карт</a></li>
{% if mastername %}
<li class="last>"><a href="{% url 'master_lessons' username=mastername %}">Список Занятий для тренера {{mastername}}</a></li>
{% endif %}
<h1>Trainers List</h1>
{% for master in masters %}
<article>
<b>Name: {{master.username}}</b><br>
<b>Subject: {{master.get_subject_name}}</b><br>
<b>Email: {{master.email}}</b>
    {% if master.photo %}
				<p><img class="img-article-left thumb" src="{{master.photo.url}}" style="width: 300px; height: 200px;"></p>
				{% endif %}
    </article><br>
{% endfor %}
{% endblock %}